<link rel="stylesheet" href="/styles/partials/errors.css" />
<% if (locals.errors) {%>
<div class="test-div">
  <ul>
    <% errors.forEach(function(error) { %>
    <li><%= error.msg %></li>
    <% }); %>
  </ul>
</div>
<% } %>
