<link rel="stylesheet" href="/styles/partials/footer.css" />
<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-row">
      <a
        href="https://github.com/Piperski13"
        aria-label="Aleksa Piperski on GitHub"
      >
        <img src="/assets/github.svg" alt="GitHub" class="github-icon" />
      </a>
      <p class="byline">Developed by Aleksa Piperski</p>
    </div>

    <div class="copyright">© 2024 Aleksa Piperski · All Rights Reserved.</div>
  </div>
</footer>
