<!-- views/partials/footer.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="/styles/partials/footer.css" />
  </head>
  <footer class="site-footer">
    <div class="footer-inner">
      <div class="footer-row">
        <a
          href="https://github.com/Piperski13"
          aria-label="Aleksa Piperski on GitHub"
        >
          <img src="/assets/github.svg" alt="GitHub" class="github-icon" />
        </a>
        <p class="byline">Developed by Aleksa Piperski</p>
      </div>

      <div class="copyright">© 2024 Aleksa Piperski · All Rights Reserved.</div>
    </div>
  </footer>
</html>
