<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/recordView.css" />
    <title>CRUD</title>
  </head>
  <body>
    <h1>Lista evidencija elektrana:</h1>
    <h4><a href="../addRecord.html">Stranica za dodavanje evidencija</a></h4>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Naziv Elektrane</th>
          <th>Mesto</th>
          <th>Adresa</th>
          <th>Datum Puštanja u Rad</th>
          <th>Šifra Vrste Pogona</th>
          <th>Obriši</th>
        </tr>
      </thead>
      <tbody id="records-table"></tbody>
    </table>

    <form action="" method="post"></form>

    <script src="../scripts/view-delete.js"></script>
  </body>
</html>
