<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle"
    />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/recordView.css" />
    <title>CRUD</title>
  </head>
  <body>
    <header id="main-box">
      <nav>
        <div class="sidebar">
          <a href="../welcome.html">Home</a>
          <a href="/recordsViewPage" id="view-records-js">View All Records</a>
          <a href="/addRecordPage" id="add-record-js">Add Record</a>
          <div class="logout-style">
            <div class="user-dropdown">
              <span class="username-logged">
                <span class="material-symbols-outlined icon"> account_circle </span>
                <span id="logged-user-js" class="logged-user"></span>
              </span>
              <div class="dropdown-content">
                <a href="#" id="logout-js">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="div-tables-section">
        <table id="small-table">
          <caption class="small-table-caption">
            Ukupan Broj Evidencija
          </caption>
          <thead>
            <tr>
              <th>Voda</th>
              <th>Vetar</th>
              <th>Ugalj</th>
            </tr>
          </thead>
          <tbody id="types-table">
          
          </tbody>
        </table>
        <p class="table-text-bellow">*max records per type = 10</p>
        <table>
          <caption>
            Lista Evidencija Elektrana
          </caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Naziv Elektrane</th>
              <th>Mesto</th>
              <th>Adresa</th>
              <th>Datum Puštanja u Rad</th>
              <th>Šifra Vrste Pogona</th>
              <th>Obriši</th>
            </tr>
          </thead>
          <tbody id="records-table"></tbody>
        </table>
      </div>
    </header>
    <script src="../scripts/decodedToken.js"></script>
    <script src="../scripts/view-delete.js"></script>
    <script src="../scripts/logout.js"></script>
  </body>
</html>
