* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0e152f;
  color: #0e152f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  padding-bottom: 1.5em;
}

input,
select {
  width: 50%;
  padding: 10px 15px;
  margin-bottom: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}
input::placeholder {
  color: #aaa;
  font-style: italic;
}

h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
}
a {
  text-decoration: none;
  color: black;
}
#header-section-form {
  width: 70%;
}
#main-box {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5em;
}
.header-section-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-style label {
  text-align: left;
}
.link-view-style {
  padding-left: 10px;
}
.form-submit-button {
  padding: 20px;
  background-color: #3b49e6;
  border: none;
  border-radius: 15px;
  color: white;
  margin: 5px 0 25px 0;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.form-submit-button:active {
  opacity: 0.5;
}
.submit-row {
  display: flex;
  justify-content: center;
}
/* business rule start  */
.dropdown-limit {
  border: 2px solid red;
}
.invalid-msg {
  color: red;
}
/* business rule end */

/* responsive desing start  */
@media (max-width: 768px) {
  h2 {
    font-size: 17px;
    padding-bottom: 17px;
  }
  .form-submit-button {
    padding: 15px;
  }
  label {
    padding-bottom: 1em;
  }
  input,
  select {
    width: 50%;
    padding: 8px 15px;
  }
}
@media (max-width: 500px) {
  input,
  select {
    width: 200px;
  }
  .hamburger{
    top: 0;
    left: 0;
  }
}
/* responsive desing end  */
