* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0e152f;
  color: #0e152f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  padding-bottom: 1em;
}

input,
select {
  width: 50%;
  padding: 10px 15px;
  margin-bottom: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}
input::placeholder {
  color: #aaa;
  font-style: italic;
}

h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
}
a {
  text-decoration: none;
  color: black;
}
#header-section-form {
  width: 80%;
  margin-left: 180px;
}
#main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-section-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-style label {
  text-align: left;
}
.link-view-style {
  padding-left: 10px;
}
.form-submit-button {
  padding: 20px;
  background-color: #3b49e6;
  border: none;
  border-radius: 15px;
  color: white;
  margin: 5px 0 25px 0;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.form-submit-button:active {
  opacity: 0.5;
}
.submit-row {
  display: flex;
  justify-content: center;
}
/* business rule start  */
.input-error {
  border: 2px solid red;
}
/* business rule end */

#drop-zone {
  width: 35%;
  padding: 15px;
  margin-bottom: 5px;
  border: 3px dashed #777;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  color: #444;
}

#drop-zone.dragover {
  background: #e6f7ff;
  border-color: #06c;
}

.upload-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* responsive desing start  */
@media (max-height: 1280px) {
  label {
    padding-bottom: 0.5em;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 17px;
    padding-bottom: 17px;
  }
  .form-submit-button {
    padding: 15px;
  }
  label {
    padding-bottom: 0.75em;
  }
  input,
  select {
    width: 50%;
    padding: 8px 15px;
  }
  #drop-zone {
    font-size: 14px;
  }
  #header-section-form {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  input,
  select {
    width: 200px;
  }
}
/* responsive desing end  */
