.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-card {
  text-align: center;
  padding: 32px;

  background: white;
  border-radius: 12px;

  width: 100%;
  max-width: 320px;
}

.dashboard-actions {
  margin-top: 20px;

  display: flex;
  gap: 12px;
  justify-content: center;
}

.btn {
  padding: 10px 16px;
  background: #3b49e6;
  color: white;
  text-decoration: none;

  border-radius: 8px;
}

.btn.secondary {
  background: #1f2a44;
}

@media (max-width: 291px) {
  .dashboard-actions {
    flex-wrap: wrap;
  }
  .title {
    flex-wrap: wrap;
  }
}
