main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 95vh;
}
#section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 25em;
  border: 3px solid #3b49e6;
  border-radius: 39px;
  margin-bottom: 20px;
  margin-top: 3%;
  padding: 15px;
}
