* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;

  background-color: #0e152f;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
input {
  background-color: #eeedf1;
  color: #0e152f;
  border: 1px solid #eeedf1;
  margin: 13px;
  padding: 10px 25.5%;
}
input::placeholder {
  color: #888;
  font-style: italic;
  font-size: 14px;
  opacity: 1;
}
#form-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 27em;
  width: 25em;
  border: 3px solid #00abed;
}
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon {
  font-size: 110px;
  color: #00abed;
  padding: 5px 10px 20px 10px;
  vertical-align: middle;
}
.login-submit-btn {
  background-color: #00abed;
  margin-top: 20px;
  padding: 13px 58%;
  font-weight: 600;
  font-size: 14px;
  color: white;
  border: none;
}
.login-div {
  background-color: #00abed;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}
.login-div-text {
  color: white;
}
/* incorrect password start */
.username-error,
.password-error {
  border: 2px solid red;
}
.invalid-msg {
  color: red;
}
.hidden {
  display: none;
}
/* incorrect password finish */
