/* Sidebar container */
.sidebar {
  width: 250px;
  height: 598px;
  background-color: #3b49e6;
  display: flex;
  flex-direction: column;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
}
#main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 600px;
  position: relative;
}
#main-box {
  background-color: rgb(228, 228, 228);
  border: 3px solid #3b49e6;
}
/* Sidebar links */
.sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #00abed;
}

/* Main content */
.main-content {
  margin-left: 250px; /* Same width as the sidebar */
  padding: 20px;
}

.logout-style {
  position: absolute;
  bottom: 20px;
  width: 84%;
  text-align: left;
}
