* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e152f;
  color: #0e152f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

table {
  width: 60%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden; /* Keeps the rounded border on the table */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #4caf50;
  color: #ffffff;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:hover {
  background-color: #e6f7e6;
}

td:last-child {
  text-align: center;
}

.delete-record,
.update-record,
.form-submit-filter {
  padding: 9px 14px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.filter-submit {
  text-align: center;
}
.update-record,
.form-submit-filter {
  background-color: #4caf50;
}
.delete-record {
  background-color: #f44336;
}

.delete-record:hover {
  background-color: #d32f2f;
}
.update-record:hover,
.form-submit-filter:hover {
  background-color: #258829;
}
caption {
  caption-side: top;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  color: #333;
}
#main-box {
  overflow: auto;
}

.div-tables-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10em;
  margin-top: 1em;
}

/* Small table start */
#small-table {
  width: 275px;
}
.table-text-bellow {
  margin-top: 5px;
  margin-bottom: 20px;
}
.small-table-caption {
  font-size: 23px;
}
/* Small table end */

/* Filter form Start */
#div-filter-form {
  display: flex;
  align-items: baseline;
  margin: 1em 0;
}
input {
  width: 100%;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}
/* Filter form End */

/* responsive design finish */
@media (max-width: 1250px) {
  .div-tables-section {
    margin-left: 3em;
  }
}
@media (max-width: 1100px) {
  th {
    font-size: 0.9em;
  }
  th,
  td {
    padding: 3px 6px;
  }
  .div-tables-section {
    margin-left: 0;
  }
}
@media (max-width: 716px) {
  th,
  td {
    font-size: 0.7em;
    padding: 3px;
  }
  .delete-record,
  .update-record {
    padding: 10px 3px;
  }
}
@media (max-width: 509px) {
  table {
    width: 100%;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border: none;
  }

  table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #main-box {
    align-items: center;
    justify-content: space-evenly;
  }
  #small-table {
    margin-top: 25px;
    width: 55%;
  }
  caption,
  .small-table-caption {
    font-size: 20px;
  }
  th,
  td {
    font-size: 1.5em;
    padding: 3px;
  }
  .delete-record,
  .update-record {
    padding: 10px 3px;
  }
}
/* responsive design finish */
