* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  background-color: #0e152f;
  color: #0e152f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
#main-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-left: 180px;
}

@media (max-width: 768px) {
  h1 {
    margin-left: 0px;
  }
}
