.sidebar {
  position: absolute;
  top: 0;
  left: 0;

  width: 250px;
  height: 100%;

  background-color: #3b49e6;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition: opacity 0.2s ease;
  z-index: 10;
}

.sidebar.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Sidebar links */
#sidebar a {
  padding: 0.9375rem 1.25rem;
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  text-align: center;
  transition: 0.3s;
  width: 100%;
}

#sidebar a:hover {
  background-color: #00abed;
}
nav {
  position: static;
}
#main-box {
  width: 80%;
  height: 80%;
  position: relative;
  overflow: auto;
  background-color: rgb(228, 228, 228);
  border: 4px solid #3b49e6;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 53px;
}

/* Main content */
.main-content {
  margin-left: 250px; /* Same width as the sidebar */
  padding: 20px;
}

/* DROP DOWN START */
.logout-style {
  position: absolute;
  bottom: 58px;

  display: flex;
  justify-content: left;
  align-items: center;

  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}
.active-background {
  background-color: #00abed;
}
.logout-style:hover {
  background-color: #00abed;
}
.user-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none; /* Initially hidden */
  position: absolute;
  left: 40px;
  background-color: #3b49e6d8;
  border: 2px solid rgb(228, 228, 228);
  margin-top: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content a:active {
  border-radius: 10px;
  opacity: 0.5;
}

.username-logged {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logged-user {
  padding-left: 7.5px;
}

.material-symbols-outlined {
  font-size: 50px;
}
/* DROP DOWN END */

/* responsive design start */

/* hamburger menu start  */
.hamburger {
  display: none;
  position: absolute;
  top: 16px;
  left: 16px;

  width: 48px;
  height: 48px;

  align-items: center;
  justify-content: center;

  font-size: 40px;
  cursor: pointer;
  z-index: 50;
}

.hamburger.active {
  left: 105px;
  transition: left 0.2s ease;
}

/* hamburger menu end  */
@media (max-height: 1280px) {
  #main-box {
    width: 95%;
    height: 95%;
  }
}
@media (max-width: 1439px) {
  .hamburger {
    display: flex;
  }
  .sidebar {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .icon {
    margin-left: 37px;
  }
  .dropdown-content {
    min-width: 95px;
    left: 14.5px;
  }
}

/* responsive design finish */
